body {
    font-family: 'Lato-Light';
    -moz-opacity:0.8;
    margin: 0;
    overflow-y:hidden;
    background-image: url("../img/earth.jpg");
}

div[id^="map"] {
    height: 250px;
    border: solid 1px #b2b4b4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.question-bubble, .answer-bubble {
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px black;
}

.question-bubble:before {
    content: '';
	position: absolute;
	right: -13px;
	top: 55%;
	width: 0;
	height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid #0672e8;
    border-top: 12px solid #0672e8;
    border-bottom: 12px solid transparent;
	margin-top: 0px;
	margin-right: 0px;
    transform: rotate(-60deg);
}

.answer-bubble:before {
    content: "";
    position: absolute;
    left: -13px;
    top: 0%;
    width: 0px;
    height: 0px;
    border-left: 6px solid #545554;/*#cecfd1;*/
    border-right: 6px solid transparent;
    border-top: 12px solid #545554;
    border-bottom: 12px solid transparent;
    margin-top: 0px;
    margin-right: 0px;
    transform: rotate(110deg);

}



.question-bubble {
    border: solid 1px #0672e8;
    background-color: #0672e8;
    color: white;
}

.answer-bubble {
    border: solid 1px #545554;
    background-color: #545554;
    color: white;
}

#chat_content {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

#search {
    min-width: 350px;
}

#papybot1, #papybot2 {
    height: 60px;
}

.navbar {
    background-color: #232e3d;
    padding: 0;
}

#nav-title {
    color: #9ca4b3;
    font-style:  bold;
 }

#nav-text {
    color: #e06c74;
    font-family: 'cac_champagne-webfont', fantasy, sans-serif;
    font-size: 1.5em;
}

 .btn {
     margin-left: 5px;
     background-color: #232e3d;
     color: white;
 }

 .form-control:focus {
     border-color: #333940;
     outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(51,57,64,.075),0 0 10px rgba(51,57,64,.9);
    box-shadow: inset 0 1px 1px rgba(51,57,64,.075),0 0 10px rgba(51,57,64,.9);
 }

#footer-links {
    background-color: #232e3d;
    border-radius: 5px;
}

#footer-links span {
    color: #9ca4b3;
}

a {
    color: #e06c74;
    font-weight: bold;
}
a:hover {
    color: #0672e8;
}

@font-face
{
	font-family:'cac_champagne-webfont';
	src: url('../fonts/cac_champagne-webfont.ttf') format('truetype');
}

@font-face
{
	font-family:'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face
{
	font-family:'Lato-Light';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
}

@media only screen and (max-width: 765px) {
    #header {
     flex-direction : row;
    }
    #header_image1 {
        order : 1;
    }
    #header_image2 {
        order : 2;
    }
    #header_text {
        order : 3;
     }
}
