<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content= "Grandpy Bot, le papybot qui connais tout les endroits du monde !" />
        <meta name="author" content= "Mystic67" />
        <link rel = "icon" href="{{url_for('static', filename= 'img/grandpybot2.png')}}"/>
        <title>Grandpy Bot</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

        <!-- JQuery min -->
        <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    </head>
    <body>
        <header>
            <nav class ="navbar navbar-default bg-dark fixed-top">
                <div class="container">
                    <span class="col-6 col-md-3 text-center" id="header_image1">
                        <img id="papybot1" class="text-center" src="{{ url_for('static', filename='img/grandpybot2.png') }}" alt="image_papybot"/>
                    </span>
                    <span class="col-md-6 text-center" id="header_text">
                        <h2 id="nav-title" class="col-md-12">GrandpyBot</h2>
                        <h2 id="nav-text" class="col-md-12 text-center ">Le papybot qui connait tous les endroits du monde !</h2>
                    </span>
                    <span class="col-6 col-md-3 text-center" id = "header_image2">
                        <img id="papybot2" src="{{ url_for('static', filename='img/grandpybot3.png') }}" alt="image_papybot"/>
                    </span>
                </div>
            </nav>
        </header>
        {% block content %} {% endblock %}

        {% include 'footer.html' %}

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>

        <!-- Plugin JavaScript -->
        <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

        <!-- Google maps API link With API Key -->
        <script src="https://maps.googleapis.com/maps/api/js?key={{ API_Key }}"
            type="text/javascript">
        </script>

        <!-- <script>
            // var lat= 48.874875;
            // var lng= 2.350498;

            function init_Map(lat, lng){
                var location = {lat: lat, lng: lng};
                var map = new google.maps.Map(document.getElementById("map"),{
                    zoom: 19,
                    center: location,
                    zoomControl: true,
                    zoomControlOptions: {
                        position: google.maps.ControlPosition.RIGHT_CENTER
                    }
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });

            }
            maMap = init_Map(48.874875,2.350498);
            google.maps.event.addDomListener(window, "load", maMap);
        </script> -->

        <!-- <script>
            var latitude = 48.874875
            var longitude = 2.350498
            function initMap(latitude,longitude){
                var location = {lat: 48.874875, lng: 2.350498};
                var map = new google.maps.Map(document.getElementById("map"),{
                    zoom: 19,
                    center: location,
                    zoomControl: true,
                    zoomControlOptions: {
                        position: google.maps.ControlPosition.RIGHT_CENTER
                    }
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });

            }
        </script> -->

        <!-- custom JavaScript File -->
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>

        <!-- Custom JavaScript -->
        <script>
            $(function(){

                $(window).on("load", function(){
                    // Ajuste the body padding-top
                    $("body").css("padding-top", $(".navbar").css("height"));

                    // Calcul the chat_content height
                    $("#chat_content").css("height",
                        (
                            parseInt($(window).height()) -parseInt($(".navbar").css("height")) -parseInt($("footer").css("height")) - parseInt($("#chat_content").css("margin-top")) - parseInt($("#chat_content").css("margin-bottom"))
                        ) + "px");
                });

                $(window).on("resize", function(){
                    $(this).load()
                });

            });
        </script>

    </body>
</html>
