<footer class="fixed-bottom col-lg-12 align-items-center">
    <form action="search" method='POST' class="form-inline justify-content-center">
      <label for="search" class="sr-only" >Rechercher</label>
      <input type="search" name="search" class="form-control col-md-5" id="search" placeholder="Exemple: Est-ce que tu connais l'adresse d'OpenClassrooms ?" required="required" autofocus>
      <button type="submit" class="btn">Rechercher</button>
    </form>
    <br>

    <div class="col-md-12">
        <div class="row text-center">
          <a id="github" class="col-md-4" target="_blank" href="https://github.com/Mystic67/GrandpyBot">Retrouver ce projet sur GitHub</a>
          <span class="col-md-4">copyleft © 2019 by Sébastien Ziegler</span>
          <a class="col-md-4" target="_blank" href="https://www.linkedin.com/in/sébastien-z-216244179/">Mon Linkedin</a>
          <a class="btn btn-default" href="#"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
    </div>
</footer>
