<footer class="fixed-bottom col-lg-12 align-items-center">
    <form class="form-inline justify-content-center">
      <label for="search" class="sr-only" >Rechercher</label>
      <input type="search" name="search" class="form-control col-md-5" id="search" placeholder="Exemple: Est-ce que tu connais les tours Petronas ?" required="required" autofocus>
      <input type="submit" value="rechercher" class="btn" id='btn'>
    </form>
    <br>

    <div id="footer-links" class="col-md-12">
        <div class="row text-center">
          <a id="github" class="d-none d-sm-block col-md-4" target="_blank" href="https://github.com/Mystic67/GrandpyBot">Retrouver ce projet sur GitHub</a>
          <span class="col-md-4">copyright © 2019 by Sébastien Ziegler</span>
          <a class="d-none d-sm-block col-md-4" target="_blank" href="https://www.linkedin.com/in/sébastien-z-216244179/">Mon Linkedin</a>

        </div>
    </div>
</footer>
